.Board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 300px;
  height: 300px;
}

.Square {
  background-color: red;
  width: 100px;
  height: 100px;
}

.BoardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
