.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 150px;
}

.Square {
  background-color: red;
  width: 50px;
  height: 50px;
}

.BoardContainer {
  display: flex;
  align-items: center;
}
